.row
	.col-md-12.page-header
		h1
			| Адреса залов
			small  / {{address.addr_id}}
.row
	.col-md-12
		form.form-horizontal
			.form-group
				label.col-md-2.control-label Адрес
				.col-md-10
					input.form-control(ng-model='address.addr')
			.form-group
				.col-md-offset-2.col-md-10
					button.btn.btn-default(ng-click='update()') Save