header.page-header
	h1
		a(ui-sref='articles.collection') Публикации
		small  / новый
section
	form.form-horizontal
		.form-group
			label.control-label.col-md-2 Заголовок
			.col-md-10
				input.form-control(ng-model='article.title')
		.form-group
			label.control-label.col-md-2 Содержание
			.col-md-10
				text-angular(ng-model='article.text')
		.form-group
			.col-md-offset-2.col-md-10
				button.btn.btn-default(ng-click='create()') Сохранить





//- .container-fluid
//- 	br
//- 	.panel.panel-default.ui-ribbon-container
//- 		.panel-heading
//- 			span.fa.fa-bars &nbsp;Ribbon
//- 		.panel-body
//- 			form.form-horizontal
//- 				.form-group
//- 					label.control-label.col-md-2 Наименование
//- 					.col-md-10
//- 						input.form-control(ng-model='article.name')
//- 				.form-group
//- 					label.control-label.col-md-2 Краткое описание
//- 					.col-md-10
//- 						input.form-control(ng-model='article.info')
//- 				.form-group
//- 					label.control-label.col-md-2 Общие сведения
//- 					.col-md-10
//- 						text-angular(ng-model='article.overview')
//- 				.form-group
//- 					label.control-label.col-md-2 Стоимость
//- 					.col-md-10
//- 						input.form-control(ng-model='article.cost', type='number')
//- 				.form-group
//- 					label.control-label.col-md-2 Валюта
//- 					.col-md-10
//- 						select.form-control(ng-model='article.currency')
//- 							option
//- 							option(value='RU') Рубль
//- 							option(value='US') Доллар
//- 							option(value='EU') Эвро
//- 							option(value='YE') Условная единица
//- 				.form-group(ng-if='article.currency === \'YE\'')
//- 					label.control-label.col-md-2 Значение условной единицы
//- 					.col-md-10
//- 						input.form-control(ng-model='article.yevalue', type='number')
//- 				.form-group
//- 					label.control-label.col-md-2 Скидка
//- 					.col-md-10
//- 						select.form-control(ng-model='article.discount')
//- 							option
//- 							option(value='5') 5%
//- 							option(value='10') 10%
//- 							option(value='15') 15%
//- 							option(value='25') 20%
//- 				.form-group
//- 					label.control-label.col-md-2 Позиция
//- 					.col-md-10
//- 						input.form-control(ng-model='article.index', type='number')
//- 				.form-group
//- 					label.control-label.col-md-2 Тип продукта
//- 					.col-md-10
//- 						select.form-control(ng-model='article.type')
//- 							option
//- 							option(value='loudspeackers') Сабвуферы
//- 							option(value='speackers') Акустические системы
//- 				.form-group
//- 					label.control-label.col-md-2 Технические характеристики
//- 					.col-md-10
//- 						.animate-if(ng-if='article.type')
//- 							ng-include(src='\'./app/modules/article/templates/article.techs.\' + article.type + \'.template.html\'')
//- 						.animate-if(ng-if='!article.type') Выберите тип продукта
//- 				.form-group
//- 					label.control-label.col-md-2 Заголовок описания
//- 					.col-md-10
//- 						input.form-control(ng-model='article.description.title')
//- 				.form-group
//- 					label.control-label.col-md-2 Короткая версия описания
//- 					.col-md-10
//- 						text-angular(ng-model='article.description.short')
//- 				.form-group
//- 					label.control-label.col-md-2 Полная версия описания
//- 					.col-md-10
//- 						text-angular(ng-model='article.description.full')
//- 				.form-group
//- 					label.control-label.col-md-2 Сопутствующие товары
//- 					.col-md-10
//- 						tags-input(ng-model='article.related', display-property='name')
//- 							auto-complete(source='loadProductTags($query)')
//- 				.form-group
//- 					.btn-group.col-md-10.col-md-offset-2
//- 						button.btn.btn-default(ng-click='saveDocument()') Сохранить







				//- .form-group
				//- 	label.control-label.col-md-2 Картинки
				//- 	.col-md-10
				//- 		.row
				//- 			.col-md-3
				//- 				h3 Select files
				//- 				div(ng-show='uploader.isHTML5')
				//- 					.well.my-drop-zone(nv-file-over='', uploader='uploader')
				//- 						| Base drop zone
				//- 					div(nv-file-drop='', uploader='uploader', options='{ url: "/foo" }')
				//- 						.well.my-drop-zone(nv-file-over='', uploader='uploader', over-class='another-file-over-class')
				//- 							| Another drop zone with its own settings
				//- 				input(type='file', nv-file-select='', uploader='uploader', multiple='')
				//- 				br
				//- 			.col-md-9(style='margin-bottom: 40px')
				//- 				h2 Uploads only images (with canvas preview)
				//- 				h3 The queue
				//- 				p Queue length: {{ uploader.queue.length }}
				//- 				table.table
				//- 					thead
				//- 						tr
				//- 							th(width='50%') Name
				//- 							th(ng-show='uploader.isHTML5') Size
				//- 							th(ng-show='uploader.isHTML5') Progress
				//- 							th Status
				//- 							th Actions
				//- 					tbody
				//- 						tr(ng-repeat='item in uploader.queue')
				//- 							td
				//- 								strong {{ item.file.name }}
				//- 								div(ng-show='uploader.isHTML5', ng-thumb='{ file: item._file, height: 100 }')
				//- 							td(ng-show='uploader.isHTML5', nowrap='') {{ item.file.size/1024/1024|number:2 }} MB
				//- 							td(ng-show='uploader.isHTML5')
				//- 								.progress(style='margin-bottom: 0;')
				//- 									.progress-bar(role='progressbar', ng-style='{ "width": item.progress + "%" }')
				//- 							td.text-center
				//- 								span(ng-show='item.isSuccess')
				//- 									i.glyphicon.glyphicon-ok
				//- 								span(ng-show='item.isCancel')
				//- 									i.glyphicon.glyphicon-ban-circle
				//- 								span(ng-show='item.isError')
				//- 									i.glyphicon.glyphicon-remove
				//- 							td(nowrap='')
				//- 								button.btn.btn-success.btn-xs(type='button', ng-click='item.upload()', ng-disabled='item.isReady || item.isUploading || item.isSuccess')
				//- 									span.glyphicon.glyphicon-upload
				//- 									| Upload
				//- 								button.btn.btn-warning.btn-xs(type='button', ng-click='item.cancel()', ng-disabled='!item.isUploading')
				//- 									span.glyphicon.glyphicon-ban-circle
				//- 									| Cancel
				//- 								button.btn.btn-danger.btn-xs(type='button', ng-click='item.remove()')
				//- 									span.glyphicon.glyphicon-trash
				//- 									| Remove
				//- 				div
				//- 					div
				//- 						| Queue progress:
				//- 						.progress(style='')
				//- 							.progress-bar(role='progressbar', ng-style='{ "width": uploader.progress + "%" }')
				//- 					button.btn.btn-success.btn-s(type='button', ng-click='uploader.uploadAll()', ng-disabled='!uploader.getNotUploadedItems().length')
				//- 						span.glyphicon.glyphicon-upload
				//- 						| Upload all
				//- 					button.btn.btn-warning.btn-s(type='button', ng-click='uploader.cancelAll()', ng-disabled='!uploader.isUploading')
				//- 						span.glyphicon.glyphicon-ban-circle
				//- 						| Cancel all
				//- 					button.btn.btn-danger.btn-s(type='button', ng-click='uploader.clearQueue()', ng-disabled='!uploader.queue.length')
				//- 						span.glyphicon.glyphicon-trash
				//- 						| Remove all
