// .events-container
	// .table-scroll-x
	// 	display block
	// 	overflow-x scroll
	// 	// max-height 500px
	// .collection-pagination
	// 	margin 0
	// table
	// 	margin-bottom 0
	// table
	// 	td
	// 		white-space nowrap !important
