nav.navbar.navbar-default
	.container
		.navbar-header
			a.navbar-brand(ui-sref='home') Multibooker
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.dropdown
					a.dropdown-toggle Касса
					ul.dropdown-menu
						li
							a(ui-sref='products.collection') Афиша
						li
							a(ui-sref='categories') Репертуар
						li
							a(ui-sref='kits') Абонементы
						li
							a(ui-sref='products.collection') Заказы
						li
							a(ui-sref='products.collection') Билеты
						li
							a(ui-sref='products.collection') Пользователи
				li.dropdown
					a.dropdown-toggle Базовые данные
					ul.dropdown-menu
						li
							a(ui-sref='products.collection') Фонды
						li
							a(ui-sref='categories') Ценовые группы
						li
							a(ui-sref='addresses.collection') Адреса залов
						li
							a(ui-sref='halls.collection') Залы
						li
							a(ui-sref='products.collection') Возрастные категории
						li
							a(ui-sref='products.collection') Цвета мест
						li
							a(ui-sref='products.collection') Типы бланков
						li
							a(ui-sref='products.collection') Типы зрелищ
						li
							a(ui-sref='products.collection') Жанры зрелищ
						li
							a(ui-sref='products.collection') Классы агентов
						li
							a(ui-sref='products.collection') Типы банковских карт
						li
							a(ui-sref='products.collection') Типы браков билетов
				li.dropdown
					a.dropdown-toggle Билетный стол
					ul.dropdown-menu
						li
							a(ui-sref='products.collection') Зрелище
						li
							a(ui-sref='products.collection') Мероприятия
						li
							a(ui-sref='products.collection') Абонементы
						li
							a(ui-sref='products.collection') Генерация репертуара
						li
							a(ui-sref='products.collection') Бланки БСО
						li
							a(ui-sref='products.collection') Накладные на БСО
						li
							a(ui-sref='products.collection') Схемы залов
						li
							a(ui-sref='products.collection') Агенты
						li
							a(ui-sref='products.collection') Организаторы мероприятий
						li
							a(ui-sref='products.collection') Поставщики билетов
						li
							a(ui-sref='products.collection') Бракованные билеты
				li.dropdown
					a.dropdown-toggle Настройки
					ul.dropdown-menu
						li
							a(ui-sref='products.collection') Пользователи
						li
							a(ui-sref='categories') Роли пользователей
						li
							a(ui-sref='kits') Рабочие места
						li
							a(ui-sref='products.collection') Настройки принтера
						li
							a(ui-sref='products.collection') Редактор меню
						li
							a(ui-sref='products.collection') Принтеры
						li
							a(ui-sref='products.collection') Системные параметры
						li
							a(ui-sref='products.collection') Клиентские объекты
						li
							a(ui-sref='products.collection') Компания
						li
							a(ui-sref='products.collection') Площадки продаж
						li
							a(ui-sref='products.collection') Разделы ролей
						li
							a(ui-sref='products.collection') Кассы
				li.dropdown
					a.dropdown-toggle Отчеты
					ul.dropdown-menu
						li
							a(ui-sref='products.collection') Отчет